body {
    background: rgba(0,0,0,0);
    font-family: Arial;
}

#carplay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(20,20,20,0.9);
    border-radius: 15px;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}
